physionet.org/files/mimiciv/


# Node / JavaScript
node_modules/
*.log
*.tar.xz

# Conda / virtual envs
.env/
.venv/

# VSCode
.vscode/


# Large data files
*.csv
*.parquet
*.feather
*.pkl
*.joblib
*.h5
*.model

# Data directories
/data/raw/
/value_based/processed_data/
/outputs/

# Python artifacts
__pycache__/
*.py[cod]
*.class
.ipynb_checkpoints/

# Temporary files
.DS_Store
*.swp
*.swo
